body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.layout {
  width: 960px;
  margin: 0 auto;
  padding-top: 30px;
}

.users__header {
  border: 1px solid #666;
  padding: 20px;
}

.users__header a {
  color: blue;
}

.users__header a.active {
  font-weight: bold;
  color: black;
}

.row {
  display: flex;
  border: 1px solid #666;
  border-bottom: none;
}

.row:last-child {
  border-bottom: 1px solid #666;
}

.column {
  padding: 10px;
  flex-basis: 33%; 
  border-right: 1px solid #666;
}

.column:last-child {
  border-right: none;
}

.tiles {
  display: flex;
  flex-wrap: wrap;
}

.tiles__item {
  flex-shrink: 0; 
  flex-wrap: 0;
  flex-basis: 31%;
  padding: 10px;
  border: 1px solid #666;
}